/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply rounded-md py-2 text-center font-medium text-white transition-all;
  }

  .input-sidebar {
    @apply w-full rounded-md border border-[#404040] bg-transparent px-2 py-1 text-right outline-none placeholder:text-left;
  }
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  input[type='number'].remove-input-number-indicator {
    /* Firefox */
    -moz-appearance: textfield;

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .center-elements {
    @apply flex items-center justify-center;
  }
}
