/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply rounded-md py-2 text-center font-medium text-white transition-all;
  }

  .input-numeric-sidebar {
    @apply w-full rounded-md border border-[#404040] bg-transparent px-2 py-1 text-right outline-none placeholder:text-left;
  }

  .input-range {
    /*********** Baseline, reset styles ***********/
    -webkit-appearance: none;
    @apply cursor-pointer appearance-none bg-transparent focus:outline-none;

    /******** Chrome, Safari, Opera and Edge Chromium styles ********/
    /* slider track */
    &::-webkit-slider-runnable-track {
      @apply h-1 rounded-lg bg-blue-400;
    }

    /* slider thumb */
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @apply -mt-1.5 size-4 appearance-none rounded-2xl bg-blue-700;
    }

    &:focus::-webkit-slider-thumb,
    &:hover::-webkit-slider-thumb {
      @apply outline outline-2 outline-offset-2 outline-blue-500;
    }

    /*********** Firefox styles ***********/
    /* slider track */
    &::-moz-range-track {
      @apply h-1 rounded-lg bg-blue-400;
    }

    /* slider thumb */
    &::-moz-range-thumb {
      -webkit-appearance: none;
      @apply -mt-1.5 size-4 appearance-none rounded-2xl bg-blue-700;
    }

    &:focus::-moz-range-thumb,
    &:hover::-moz-range-thumb {
      @apply outline outline-2 outline-offset-2 outline-blue-500;
    }
  }
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  input[type='number'].remove-input-number-indicator {
    /* Firefox */
    -moz-appearance: textfield;

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .center-elements {
    @apply flex items-center justify-center;
  }
}
